<div class="card">
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">URL</label>
        <input type="text" formControlName="url" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.login.errors }" />
        <div *ngIf="form.controls.login.errors" class="invalid-feedback">
            <div *ngIf="form.controls.login.errors.required">url is required</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">
            Check site
        </button>
    </div>
    </form>
  </div>
</div>